APP_ENV=
REGISTRY_NAME=

SOURCE_URL=
SOURCE_REGION_SELECT_NAME=
SOURCE_PROVINCE_SELECT_NAME=
SOURCE_PROVINCES_TASK_KEY=
SOURCE_OUTPUT_SUBDIR=

PW_HEADLESS=
PW_SLOW_MO=
PW_TIMEOUT_MS=
PW_POST_LOAD_WAIT_MS=
PW_COOKIE_WAIT_MS=
PW_BETWEEN_REQUESTS_MS==

SOURCE_PAGE_SIZE=
MAX_PAGE_RETRIES=
MAX_PROVINCE_RETRIES=
WAIT_AFTER_SELECT_MS=
WAIT_AFTER_SEARCH_MS=
WAIT_RETRY_MS=
CARDS_CONTAINER_TIMEOUT_MS=

DEV_MODE=
DEV_SAMPLE_REGIONS=
DEV_SAMPLE_PROVINCES_PER_REGION=

LOG_LEVEL=